apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: metallb-config
  namespace: flux-system
spec:
  dependsOn:
    - name: metallb-controller
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: "./infrastructure/base/metallb-config"
